# Applied-Data-Science-Capstone
This project is a capstone project for the applide data science course in coursera.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [3]:
# Load in the original dataset
df_original=pd.read_csv(r'D:\Users\Rayyan\Downloads\Data-Collisions.csv', low_memory=False)
print('Data has been read')

Data has been read

## Data Wrangling
**The dataset provided contains 2 columns for severity code. This cell is to check if they are exactly the same and hence delete one of the columns.**

In [4]:
check_similarity=list(df_original['SEVERITYCODE']==df_original['SEVERITYCODE.1'])
difference_counter=0
for difference in check_similarity:
    if difference == False:
        difference_counter +=1

if difference_counter==0:
    print('The columns are the same, 1 can be deleted')

The columns are the same, 1 can be deleted

**The items in the list shown in the next cell represent all the columns that are being removed. Apart from the duplicate severitycode column, the other columns have been chosen because they axiomatically will not help in whether the model can predict a crash or not.**

In [5]:
unwanted_columns=['SEVERITYCODE.1','OBJECTID','INTKEY','INCKEY','LOCATION','COLDETKEY','STATUS','REPORTNO','EXCEPTRSNCODE',
                  'EXCEPTRSNDESC','INCDATE','SEVERITYDESC','SDOT_COLDESC','SDOTCOLNUM','ST_COLDESC','SEGLANEKEY','CROSSWALKKEY']

In [6]:
df_new=df_original.drop(unwanted_columns, axis=1)
#compare size of orignal and new dataset
print(df_original.shape)
print(df_new.shape)

(194673, 38)
(194673, 21)

**Checking for null values**

In [7]:
df_new.isnull().sum()

SEVERITYCODE           0
X                   5334
Y                   5334
ADDRTYPE            1926
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SPEEDING          185340
ST_COLCODE            18
HITPARKEDCAR           0
dtype: int64

**The first null values come from the X and Y coordinates. These null values can be filled by copying the X and Y values of a respective address type to the missing values. For example if missing X,Y columns have an address type of Block, we can copy the X and Y value of another Block crash. That being said, it becomes apparent that if we know what address type the crash was at, it doesnt matter what the X & Y coordinates are. Hence we can remove X and Y from the dataset.**

In [8]:
df_new.drop(['X','Y'], axis=1, inplace=True)

**The next column with Null values is ADDRTYPE. Address type is an important factor because it can tell us the chances of an accident happening at a particular type of area. As there are 194673 rows of crashes and out of them 1926 of them have no address, thats only around 1% of the dataset and so we can remove the rows with no values in the ADDRYPE column.**

In [9]:
df_new.dropna(subset=['ADDRTYPE'], inplace=True)
df_new.reset_index(drop=True, inplace=True)
print(df_new.shape)

(192747, 19)

**Next on the list of null values is COLLISIONTYPE with 4904 missing values. Whether we need collision type or not comes down to how accurate we want our model to be. For example we might want our model to be able to tell what the chances of a particular type of accident is. But for our model all we want to know is whether there will be an accident or not. For this reason we can remove the COLLISIONTYPE column.**

In [10]:
df_new.drop('COLLISIONTYPE', axis=1, inplace=True)

**The next 4 columns all have no null values. Thes columns are PERSONCOUNT, PEDCOUNT, PEDCYLCOUNT, VEHCOUNT. These values are important because they give us an idea of the 'traffic' around the area that lead to the accident. For example it could be possible that the accident happened because there were a lot of pedestrians around or a lot of vehicles around.**

**Next on the list is JUNCTIONTYPE. This is basically a more detailed view of ADDRTYPE where it tells where in the ADDRTYPE the accident happened, for example, mid-block or at intersection. Since the vehicle is already at the area where an accident could  happen it doesn't really matter where in the area it could happen. For that reason we can come to the conclusion that we dont need the JUNCTIONTYPE feature.**

In [11]:
df_new.drop('JUNCTIONTYPE', axis=1, inplace=True)

**Next is SDOT_COLCODE. This is basically a code that is given to the collision by SDOT (Seattle Department of Transportation). Each code is unique to a particular collision. For example a code of 1 means vehicle going straight hits pedestrian, while a code of 11 means from same direction both going straight both moving sideswipe. Again like JUNCTIONTYPE this detailed level of description is not needed to prevent a collision and could just end up makinng the model inaccurate. Following this the SDOT_COLCODE can be removed. For the same reason ST_COLCODE can also be removed.**

In [12]:
df_new.drop(['SDOT_COLCODE', 'ST_COLCODE'], axis=1, inplace=True)

**INATTENTIONIND, this tells us wheter the collision was due to inattention or not. A value of 'Y' means yes and 'N' means no. At first this column seems unnecessary because, how can a model predict if a person is unattentive or not. But if we can find a relation between the time of collision and unattentiveness we could find that people pay less attention during certain times of the day. This is also the reason why the INCDTTM feature was not removed. In the dataset there are 164868 null values. We can see Y values but can't seem to find any N values. The code below will see if there are any N values and if there aren't it means the empty cells actually represent N, thus allowing us to fill in the empty cells with N.**

In [13]:
N_counter=0
for N in df_new['INATTENTIONIND']=='N':
    if N == True:
        N_counter += 1
if N_counter == 0:
    print('There are no N strings, replace the empty cells with N')

There are no N strings, replace the empty cells with N

In [14]:
df_new['INATTENTIONIND'].replace(np.nan, 'N', inplace= True)

**The feature UNDERINFL can be ustilised the same way as INATTENTIONIND. In the dataset provided the UNDERINFL column consists of Y, N, 0, 1 and empty strings. As you can see this column needs to be cleaned. We will change the 1's to Y and the 0's to N. Since the empty cells could indicate that the drivers condition was not know we will have to remove them.**

In [15]:
df_new['UNDERINFL'].isnull().sum()

4777

In [16]:
df_new['UNDERINFL'].replace(['0','1'], ['N','Y'], inplace=True)
df_new.dropna(subset=['UNDERINFL'], inplace=True)

In [17]:
df_new.shape

(187970, 15)

**Weather shows us the weather conditions when the accident happened. There are 4971 missing values (shown in the next cell). We can fill the empty cells with weather conditions from the previous day. But since the new dataset contains 192747 values that means the percentage of missing values is only 2.58%. So to save time we can just delete the rows with no values instead.**

In [18]:
df_new['WEATHER'].isnull().sum()

194

In [19]:
df_new.dropna(subset=['WEATHER'], inplace=True)

In [20]:
df_new.shape

(187776, 15)

In [21]:
df_new['ROADCOND'].isnull().sum()

49

**Road Condition is an important parameter as well. As shown above there are 49 missing values. But since that is a very small amount we can just remove those missing rows.**

In [22]:
df_new.dropna(subset=['ROADCOND'], inplace =True)

In [23]:
df_new.shape

(187727, 15)

In [24]:
df_new['LIGHTCOND'].isnull().sum()

202

**The same logic is applied to Light condition.**

In [25]:
df_new.dropna(subset=['LIGHTCOND'], inplace =True)

In [26]:
df_new.shape

(187525, 15)

In [27]:
df_new['PEDROWNOTGRNT'].isnull().sum()

182863

**PEDROWNOTGRNT is to show whether or not the pedestrian right of way was not granted. There are just too many missing values and so this column has to be removed.**

In [28]:
df_new.drop('PEDROWNOTGRNT', axis=1, inplace=True)

In [29]:
df_new['SPEEDING'].isnull().sum()

178259

**Speeding is also a very important factor, but there are once again too many empty cells and so it must be deleted.**

In [30]:
df_new.drop('SPEEDING', axis=1, inplace=True)

**HITPARKEDCAR tells us wheter or not a parked car was involved in the collision. Once again we are interested in preventing any type of collision, not specific types and so this column can be deleted.**

In [31]:
df_new.drop('HITPARKEDCAR', axis=1, inplace=True)

In [33]:
df_new.head(20)

,SEVERITYCODE,ADDRTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDTTM,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND
0,2,Intersection,2,0,0,2,3/27/2013 2:54:00 PM,N,N,Overcast,Wet,Daylight
1,1,Block,2,0,0,2,12/20/2006 6:55:00 PM,N,N,Raining,Wet,Dark - Street Lights On
2,1,Block,4,0,0,3,11/18/2004 10:20:00 AM,N,N,Overcast,Dry,Daylight
3,1,Block,3,0,0,3,3/29/2013 9:26:00 AM,N,N,Clear,Dry,Daylight
4,2,Intersection,2,0,0,2,1/28/2004 8:04:00 AM,N,N,Raining,Wet,Daylight
5,1,Intersection,2,0,0,2,4/20/2019 5:42:00 PM,N,N,Clear,Dry,Daylight
6,1,Intersection,2,0,0,2,12/9/2008,N,N,Raining,Wet,Daylight
7,2,Intersection,3,0,1,1,4/15/2020 5:47:00 PM,N,N,Clear,Dry,Daylight
8,1,Block,2,0,0,2,6/15/2006 1:00:00 PM,N,N,Clear,Dry,Daylight
9,2,Intersection,2,0,0,2,3/20/2006 3:49:00 PM,N,N,Clear,Dry,Daylight
10,1,Alley,2,0,0,2,5/25/2006 6:20:00 PM,N,N,Overcast,Dry,Daylight
11,1,Intersection,2,0,0,2,8/11/2005 5:30:00 PM,N,N,Clear,Dry,Daylight
12,1,Block,0,0,0,2,5/17/2006 12:51:00 PM,N,N,Raining,Wet,Dark - Street Lights On
13,1,Block,2,0,0,2,12/22/2005 5:13:00 PM,N,N,Raining,Wet,Dark - No Street Lights
14,2,Block,2,0,0,2,3/31/2013 2:09:00 AM,N,N,Clear,Dry,Dark - Street Lights On
16,2,Intersection,3,0,0,2,7/1/2005,N,N,Overcast,Dry,Daylight
17,1,Block,0,0,0,2,1/16/2004 8:25:00 AM,N,N,Overcast,Dry,Daylight
18,2,Block,4,0,0,3,4/17/2020 2:44:00 PM,N,N,Clear,Dry,Daylight
19,1,Block,2,0,0,2,6/1/2009,N,N,Unknown,Dry,Unknown
20,2,Block,3,0,0,2,3/27/2013 8:45:00 PM,N,N,Clear,Dry,Dark - Street Lights On

In [ ]:
### Need to reset index and show new dimensions.####